.container h2, h3 {
    font-size: 2rem;
    font-weight: bold;
    color: #000a3bd4 !important;
}

form button{
    background-color: #000a3bd4 !important;
    color: #fff !important;
    border: none !important;
    border-radius: 5px !important;
    padding: 10px 20px !important;
    font-weight: bold !important;
    transition: 0.3s !important;
    cursor: pointer !important;
    margin-top: 10px !important;
}

form button:hover{
    background-color: #000a3b79 !important;
    color: #fff !important;

}

